<mat-toolbar color="basic" *ngIf="render">
    <span class="mouse-pointer" routerLink="home">To Do List Project</span>
    <span class="spacer"></span>

    <span id="sequelei" roseBackground>sequelei</span>
    <button mat-stroked-button routerLinkActive="active-border" (click)="logOut()" color="basic">Logout</button>
    <button mat-stroked-button routerLinkActive="active-border" routerLink="create-task" color="basic">Create Task</button>
    <button mat-stroked-button routerLinkActive="active-border" routerLink="home" color="basic">All Tasks</button>
</mat-toolbar>
