<mat-card>
    <h2>Update Task</h2>
    <form class="form-group" *ngIf="taskForm" [formGroup]="taskForm!" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Task Title</mat-label>
            <input matInput formControlName="title" placeholder="Write a title" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Describe your task"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" name="description">
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="High">High</mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-raised-button type="submit" mat-button color="primary">Submit</button>
    </form>
</mat-card>


<!-- *ngIf="taskForm" [formGroup]="taskForm!" (ngSubmit)="onSubmit()" -->