.bg-red {
    background-color: #dd0909;
}
.bg-orange {
    background-color: #df8a23;
}
.bg-yellow {
    background-color: #fceb51;
}

.item-container {
    display: flex;
    flex-direction: row;
}

#priority-color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 15px;
}

mat-card-title {
    font-size: 20px;
}
mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 5px 0;
    height: 25px;
}
mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
mat-checkbox {
    padding-right: 5px;
}
.font {
    font-family: 'Itim', cursive;
 }