<div *ngIf="task" class="item-container">
    <mat-card>
        <mat-card-title>
            <mat-checkbox color="primary" [checked]="task.done" (change)="markAsDone($event)"></mat-checkbox>
            {{task.title}}
        </mat-card-title>
        <mat-card-actions>
            <span id="priority-color" [ngClass]="getClass()"></span>
            <button mat-icon-button [routerLink]="['view-task', task.id]">
                <mat-icon >info</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['update-task', task.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="callDelete(task.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>