@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap');

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, cursive;
    background-color: #f6f1f3;
}
